<article class="curriculo">


  <section class="dados-pessoais">

    <img src="../../assets/img/carlos_03.jpg" class="dados-pessoais-img" />

    <div class="dados-pessoais-info">
      <p>Brasileiro, casado, 39 anos</p>
      <address>Endereço: Rua vieira dos santos, n° 38 apartamento 303<br/>
               Centro Cívico - Curitiba - PR
      </address>
      <p class="bold">Contato: whatsapp - +55 41 98902-6365 / email: carlosh112@gmail.com</p>
      <br/>
    </div>
    <br/>

  </section>
  <br/>

  <section class="formacao" >
    <h2 class="titulo">FORMAÇÃO</h2>
    <br/>
    <p class="formacao-item bold">Especialista em Engenharia de Software</p>
    <p class="formacao-item">Pontifícia Universidade Católica do Paraná (PUC-PR), 2018</p>
    <br/>
    <p class="formacao-item bold">Tecnólogo em Sistemas para Internet</p>
    <p class="formacao-item">OPET, 2008</p>
    <br/>
    <br/>
  </section>


  <section class="idiomas" >
    <h2 class="titulo">IDIOMAS</h2>
    <br/>
    <p class="idiomas-item"><b class="bold">Português</b>, Nativo</p>
    <p class="idiomas-item"><b class="bold">Inglês</b>, Intermediario</p>
    <br/>
    <br/>
  </section>



  <section class="habilidades" >
    <h2 class="titulo">HABILIDADES</h2>
    <br/>

    <ul>
        <li class="habilidades-item">Nível de aprendizagem rápido e especial atenção aos detalhes</li>
        <li class="habilidades-item">Facilidade de realizar treinamentos técnicos</li>
        <li class="habilidades-item">Bom relacionamento interpessoal com pessoas de diferentes idades</li>
        <li class="habilidades-item">Capacidade de realizar pesquisas de assuntos técnicos na área de tecnologia</li>
    </ul>
     <br/>
     <br/>
  </section>


  <section class="cursos" >
    <h2 class="titulo">CURSOS</h2>
    <br/>
    <p class="cursos-item"><b class="bold">Introdução ao Scrum</b> | udemy.com</p>
    <p class="cursos-item"><b class="bold">Angular - The Complete Guide</b> | udemy.com</p>
    <p class="cursos-item"><b class="bold">C# Advanced Topics</b> | udemy.com</p>
    <p class="cursos-item"><b class="bold">Entity Framework in Depth</b> | udemy.com</p>
    <br/>
    <br/>
  </section>


  <section class="experiencia-profissional" >
    <h2 class="titulo">EXPERIÊNCIA PROFISSIONAL</h2>
    <br/>

    <h3 class="experiencia-empresa bold">TESS PROJETOS (2020)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Progress rail</h5>
    <p  class="experiencia-projeto-item">- Atividades de DevOps e manutenção de sistemas do cliente Progress Rail</p>
    <br/>
    <br/>

    <h3 class="experiencia-empresa bold">BRQ Digital Solutions (2020)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Banco Bari - Portal de Parceiros</h5>
    <p class="experiencia-projeto-item">-  Codificação de novas funcionalidade do Portal de Parceiros</p>
    <p class="experiencia-projeto-item">- Responsável pelo Backend do Portal</p>
    <br/>
    <br/>

    <h3 class="experiencia-empresa bold">META (2018 A 2019) </h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Sascar SASWEB2 - Frotas Leves</h5>
    <p class="experiencia-projeto-item">- Correções de bugs do sistema, documentação técnica no JIRA, e trabalho em equipe, através de metodologia Scrum no projeto Frotas Leves do SASWEB2</p>
    <br/>
    <h5 class="experiencia-projeto">Sascar SASWEB2 - WDL</h5>
    <p class="experiencia-projeto-item">- Desenvolvimento de novas funcionalidades, Front-End do sistema SASWEB2 gestão de frotas</p>
    <br/>
    <br/>


    <h3 class="experiencia-empresa bold">MASTERTECH (2018)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Consultoria Arx Diagnóstico</h5>
    <p class="experiencia-projeto-item">- Codificação do projeto web exames laboratoriais desenvolvida em C#, Angular 2 e .NET Core e Dapper</p>
    <br/>

    <h5 class="experiencia-projeto"> Painel de Autenticação</h5>
    <p class="experiencia-projeto-item">- Codificação do painel de autenticação utilizando MVC, C#, SQL Server, Dapper</p>
    <br/>
    <br/>

    <h3 class="experiencia-empresa bold">STEFANINI (2015 A 2018)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Metrópole da TIM – Módulo Gestão Orçamentária</h5>
    <p class="experiencia-projeto-item">- Codificação de relatórios desse módulo gerencial, tanto front-end em Angular, quanto back-end em API e EntityFramework DDD code first</p>
    <br/>
    <h5 class="experiencia-projeto">Website da Universidade Positivo – área de pós-graduação</h5>
    <p class="experiencia-projeto-item">- Participação da codificação da área de pós-graduação do site da Universidade Positivo</p>
    <br/>

    <h5 class="experiencia-projeto">Cadastro Pessoa Empresa(CPE) do SEBRAE</h5>
    <p class="experiencia-projeto-item">- Desenvolvimento de WebServices em API responsáveis por integrar diversos sistemas do SEBRAE</p>
    <p class="experiencia-projeto-item">- Atividades de referentes a migração de dados (ETL)</p>
    <br/>
    <h5 class="experiencia-projeto">Comércio Brasil do SEBRAE</h5>
    <p class="experiencia-projeto-item">- Codificação de controles web em Asp.Net responsivos utilizando bootstrap, JQuery e Css</p>
    <br/>
    <h5 class="experiencia-projeto">Sistema de Gerenciamento de Metas (SGM) do SEBRAE</h5>
    <p class="experiencia-projeto-item">- Codificação de novas funcionalidades para o sistema SGM</p>
    <br/>
    <h5 class="experiencia-projeto">Fundo de Aval às Micro e Pequenas Empresas (FAMPE) do SEBRAE</h5>
    <p class="experiencia-projeto-item">- Codificação de melhorias para o sistema FAMPE</p>
    <br/>
    <h5 class="experiencia-projeto">Sistema de Gestão Estratégica (SGE) do SEBRAE</h5>
    <p class="experiencia-projeto-item">- Codificação de melhorias para o sistema SGE</p>
    <br/>

    <h3 class="experiencia-empresa bold">CONSULTORIA INDEPENDENTE (2012 A 2015)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Abertura de Clínica - DETRAN/PR</h5>
    <p class="experiencia-projeto-item">- Estudo de Viabilidade para abertura de Clínica de Psicologia do DETRAN</p>
    <p class="experiencia-projeto-item">- Estudos e recomendações para compra de equipamentos para a clínica</p>
    <br/>


    <h3 class="experiencia-empresa bold">CINQ TECHNOLOGIES (2008 A 2012)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Sistemas Internos</h5>
    <p class="experiencia-projeto-item">- Manutenção dos sistemas internos da empresa, otimizando seus processos</p>
    <p class="experiencia-projeto-item">- Administração do treinamento de estágio, preparando os estagiários para exercer suas primeiras funções na empresa</p>
    <p class="experiencia-projeto-item">- Configurações do servidor de aplicações Internet Information Services (IIS), ambiente de desenvolvimento utilizado para as aplicações .NET e Asp Classic</p>
    <br/>
    <h5 class="experiencia-projeto">Migração do Site Internacional da Racco</h5>
    <p class="experiencia-projeto-item">- Participação nas atividades de desenvolvimento do software de comércio eletrônico (e-commerce) da Racco</p>
    <p class="experiencia-projeto-item">- Novos conhecimentos tecnológicos, envolvendo utilização do EntityFramework e LINQ</p>
    <p class="experiencia-projeto-item">- Configurações do servidor de aplicações Internet Information Services (IIS), ambiente de desenvolvimento utilizado para as aplicações .NET e Asp Classic</p>
    <br/>
    <h5 class="experiencia-projeto">SITA NWAF</h5>
    <p class="experiencia-projeto-item">- Atividades de programação na fase inicial do projeto, com ênfase na tecnologia Silverlight e na ferramenta Expression Blend</p>
    <p class="experiencia-projeto-item">- Desenvolvimento de custom controls em Silverlight</p>
    <br/>

    <h5 class="experiencia-projeto">Projeto Curitiba da Bematech</h5>
    <p class="experiencia-projeto-item">- Codificação do Projeto Curitiba envolvendo os módulos: Gerência, Geral I, II, III, IV, V, IntegraçãoERP, Loja e WMS</p>
    <p class="experiencia-projeto-item">- Experiência de trabalho em equipe, exercitando intensivamente a interação com os profissionais do projeto</p>
    <p class="experiencia-projeto-item">- Prática das tecnologias para desktop, com foco principal em WindowsForms, DevExpress e Linq</p>
    <br/>


    <h3 class="experiencia-empresa bold">KANKEI SOFTWARE E CONSULTORIA (2006 A 2008)</h3>
    <hr class="linha"/>
    <h5 class="experiencia-projeto">Implantação do Kankei DBM na RIC (Rede Independência de Comunicação)</h5>
    <p class="experiencia-projeto-item">- Customização da ferramenta Kankei DBM, com o objetivo de geração de relatórios gerenciais</p>
    <p class="experiencia-projeto-item">- Desenvolvimento de testes unitários em VB.Net para prevenir futuros problemas com o KankeiDBM</p>
    <br/>
    <h5 class="experiencia-projeto">Suporte Interno ao Kankei DBM</h5>
    <p class="experiencia-projeto-item">- Suporte Técnico ao Kankei DBM (Ferramenta de CRM - Customer Relationship Management)</p>
    <p class="experiencia-projeto-item">- Treinador de Estagiários na ferramenta Kankei DBM</p>
    <p class="experiencia-projeto-item">- Responsável pela documentação da ferramenta Kankei DBM, resultando no seu guia do usuário</p>
    <br/>
    <br/>

 </section>

</article>
